@charset "UTF-8";
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@200&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
:root,
body {
  font-family: "Noto Sans KR", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  line-height: 1.6;

  /* 사용자 지정 변수 */
  --dark-colors-accent-dark: #b4a186;
  --dark-colors-light-gray-dark: #9a9a9a;
  --dark-colors-gray-dark: #3d3d3d;
  --dark-colors-dark-gray-dark: #272727;
  --dark-colors-black-dark: #0a0a0a;
  --dark-colors-white-dark: #fbfbfb;
  --light-colors-errors-light: #d82700;
  --light-colors-accent-light: #a18a68;
  --light-colors-black-light: #000000;
  --light-colors-dark-gray-light: #707070;
  --light-colors-gray-light: #d8d8d8;
  --light-colors-light-gray-light: #efefef;
  --light-colors-white-light: #ffffff;

  --fs8: 8px;
  --fs12: 12px;
  --fs16: 16px;
  --fs20: 20px;
  --fs26: 24px;
  --fs33: 33px;
  --fs64: 64px;
}

body {
  /* 배경색 */
  background-color: #eaeaea;

  /* 중앙에서 시작하여 바깥쪽으로 퍼지는 옅은 그라데이션 적용 */
  background-image: radial-gradient(
    /* 그라데이션 형태와 위치 : 원형(circle)이 중앙에서 시작 */ circle at center,
    /* 중앙 시작색: 아주 옅은 회색 (거의 투명) */ rgba(255, 255, 255, 0.5) 0%,
    /* 중간색 :옅은 회색 */ rgba(234, 234, 234, 0.9) 50%,
    /* 바깥쪽 색 : 기존 배경색과 동일하게 */ #eaeaea 100%
  );
  /* 그라데이션의 요소의 전체 배경 영역을 덮도록 설정 */
  background-attachment: fixed;
}

main {
  padding: 100px 0 33px;
  max-width: 1200px;
  width: calc(100% - 4rem);
  margin: auto;
  padding: 33px 0;
}

main h2 {
  font-size: 33px;
  color: #b4a186;
}

a {
  text-decoration: none;
  color: inherit;
}
