/* .body2 {
  font-family: "Noto Sans KR", sans-serif;
  background: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

h1 {
  margin: 2rem 0;
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: all 0.3s ease;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  margin: 1rem 0 0.5rem;
}

.card p {
  padding: 0 1rem;
  color: chocolate;
  font-size: 0.95rem;
}

.card button {
  margin: 1rem 0 1.5rem;
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
