/* 카드 전체 스타일 */

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/* 카드 */

.card {
  border: none;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 0;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding-bottom: 20px;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* 이미지 래퍼 */
.imgWrap {
  width: 100%;
  /* 1 : 1 비율 유지 */
  aspect-ratio: 1 / 1;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  /* 이미지가 줄어들지 않도록 고정 */
  flex-shrink: 0;
}

.productImage {
  width: 100%;
  height: 100%;
  /* 정사각형 영역을 꽉 채우도록 설정 */
  object-fit: cover;
  transition: transform 0.5s;
}

.card:hover .productImage {
  /* 호버 시 확대 효과 */
  transform: scale(1.05);
}

/* 이미지 래퍼 -> 할인 뱃지 */
.discountBadge {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(161, 138, 104, 0.9);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 900;
}

/* 상품명 */
.title {
  padding: 0 15px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  font-weight: 600;

  /* 한줄 넘어가면 ... 표시 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 가격 */
.price {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #b4a186;
}
