.list {
  padding: 12px 15px;
  font-size: 14px;

  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
  background-color: #fff;
  color: #555;
  transition: all 0.2s ease;
}

.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: #f9f9f9;
  color: #b4a186;
}

.list.active {
  background-color: #b4a186;
  color: white;
  font-weight: 600;
}
