.cartContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
  margin-top: 30px;
}

/* 페이지 타이틀 */
.pageTitle {
  font-size: 32px;
  color: #b4a186;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: normal;
}

.infoText {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

/* 장바구니 리스트 */
.cartList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.cartItem {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  padding: 20px 30px;
  display: grid;
  /* 이미지 / 제목 / 가격 / 수량 / 할인율 / 합계 / 삭제 */
  grid-template-columns: 160px 1fr 120px 140px 140px 140px 50px;
  align-items: center;
  gap: 20px;
}

/* 1. 이미지 영역 */
.imgWrap img {
  width: 100%;
  height: 100%;
}

/* 2. 상품명 영역 */
.itemInfo {
  text-align: center;
}

.itemTitle {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

/* 3. 상품 가격 */
.itemPrice {
  text-align: center;
  font-size: 16px;
  color: #333;
}

/* 4. 수량 버튼 */
.countControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100px;
  margin: 0 auto;
}

.countControl button {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.cartContainer span {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* 5. 합계  */
.totalPrice {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* 6. 삭제 버튼 */
.deleteBtn {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: all 0.3s;
}

.deleteBtn:hover {
  background-color: #333;
  color: #fff;
}

/* 하단 총 금액 */
.cartPrice {
  text-align: right;
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 250px;
}

.cartPrice p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  color: #333;
}

.finalPrice {
  font-size: 28px;
  color: #222;
}

/* 비어있는 카트 */
.emptyCart {
  text-align: center;
  height: 400px;
  padding: 100px 0;
  color: #999;
}
