main > * {
  margin-bottom: 33px;
}

.detailCon {
  display: flex;
  gap: 33px;
  margin-top: 40px;
}

.imgWrap {
  border-radius: 16px;
  overflow: hidden;
  width: calc(55% - 16px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount {
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #a18a68;
  border-radius: 8px;
  padding: 8px 12px;
  color: #ffffff;
}

.infoWrap {
  flex: 1;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 24px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #b4a186;
}

.btnWrap {
  display: flex;
  gap: 16px;
}

.counterArea {
  background-color: #dcdbdb;
  border-radius: 8px;
}

.counterArea button {
  border: none;
  outline: none;
  padding: 12px 20px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}

.counterArea span {
  display: inline-block;
  padding: 12px;
}

.addBtn {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #b4a186;
  cursor: pointer;
}

@media (max-width: 600px) {
  .detailCon {
    flex-direction: column;
  }
  .imgWrap {
    width: 100%;
  }
}
