.shopPage {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  margin-top: 30px;
}

/* 페이지 타이틀 */
.shopPage h2 {
  width: 100%;
  margin-bottom: 30px;
  font-size: 32px;
  color: #b4a186;
  font-weight: normal;
}

/* 사이드바 영역 */
.searchFn {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 카테고리 영역 */
.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 카테고리 버튼 */

.category > button {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #555;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category > button:hover {
  /* background-color: #eee; */
}

/* 정렬 영역 컨테이너 */
.sort {
  position: relative;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

/* 정렬 버튼 헤더 */
.sortHeader {
  width: 100%;
  background-color: #f9f9f9;
  color: #555;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: normal;

  /* 플렉스 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  overflow: hidden;
}

.sortHeader:hover {
  background-color: #b4a186;
  color: white;
}

/* 정렬 버튼 텍스트 리스트 */
.sortLabel {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-right: 5px;
}

.sortHeader i {
  font-size: 14px;
  color: #999;
  flex-shrink: 0;
}

.sort ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;

  overflow: hidden;
  min-height: 20px;
  z-index: 100;
  margin-top: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.sort.active ul {
  max-height: 300px;
  opacity: 1;
  padding: 5px 0;
}

/* 상품 리스트 영역 */

.productList {
  /* 남은 공간 모두 차지 */
  flex: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* 검색 폼 스타일 */
.searchForm {
  width: 100%;
  display: flex;

  align-items: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.searchInput {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 8px;
  font-size: 14px;
  color: #555;
}

.searchBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s;
}

.searchBtn:hover {
  color: #b4a186;
}

/* 반응형 */
@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .shopPage {
    flex-direction: column;
  }
  .searchFn {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .category {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
